{#
/**
 * @file
 * Default theme implementation to present a service-price entity.
 *
 * This template is used when viewing a registered service-price's page,
 * e.g., /admin/content/service-price)/123. 123 being the service-price's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_service_price()
 */
#}
<div {{attributes.addClass(['d-flex','flex-column','justify-content-center'])}}>
  {% if content.service_type %}
    <h1 {{ region_attributes.service_type.addClass("") }}>
      <strong> {{ content.service_type }} </strong>
    </h1>
  {% endif %}
  {% if content.description %}
    <div {{ region_attributes.description.addClass("") }}>
      {{ content.description }}
    </div>
  {% endif %}
  {% if content.service_price %}
    <h2 {{ region_attributes.service_price.addClass("") }}>
      {{ content.service_price }}
    </h2>
  {% endif %}
</div>